@CHARSET "UTF-8";

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #555;
	line-height: 1.8;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #333;
	margin-top: 0;
}

li {
	height: 30px;
}

.header {
	padding-top: 40px;
	padding-bottom: 20px;
}

.advertisement {
	border: 1px solid gray;
	height: 92px;
	width: 720px;
}

.title {
	padding: 3px;
	font-size: 60px;
	font-weight: normal;
}

.description {
	padding: 5px 20px 5px 100px;
	font-size: 15px;
	color: #999;
}

.post {
	margin-bottom: 60px;
}

.post-title {
	margin-bottom: 5px;
	font-size: 40px;
}

.post-meta {
	margin-bottom: 20px;
	color: #999;
}

.about {
	padding: 15px;
	margin: 0 -15px 15px;
	background-color: #f0f0f0;
	border-radius: 4px;
}

.classify {
	padding: 15px;
	margin: 0 -15px 15px;
}

.list-unstyled {
	list-style: none;
	margin: 0px;
}

.footer {
	padding: 30px 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
}