<div class="container">
    <div class="header">
        <h1 class="title">Sep.10th</h1>
        <p class="description">活在这草泥马的年代，就要时刻保持去他妹的心态</p>
    </div>
	<div class="advertisement">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle" 
				style="display:inline-block;width:728px;height:90px"
				data-ad-client="ca-pub-5351470261193904"
				data-ad-slot="2583188272">
		</ins>
		<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
	</div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <div class="post">
                    {{ content }}
                </div>
            </div>
            <div class="span3 offset1">
                <div class="about">
                    <h4>关于我</h4>
                    <p>
                        职业：<em>hadoop研发工程师</em><br />邮箱：<em>xiaoxin11347@gmail.com</em>
                    </p>
                </div>
                <div class="classify">
                    <h4>文章分类</h4>
                    <ul class="list-unstyled">
                        <li><a href="/categories/hadoop.html">Hadoop云计算</a></li>
                        <li><a href="/categories/nosql.html">NoSQL技术</a></li>
                        <li><a href="/categories/java.html">Java语言</a></li>
                        <li><a href="/categories/machine_learning.html">机器学习算法</a></li>
                        <li><a href="/categories/mq.html">消息队列</a></li>
                        <li><a href="/categories/selenium.html">数据抓取</a></li>
						<li><a href="/categories/python.html">Python学习</a></li>
						<li><a href="/categories/maven.html">Maven</a></li>
                    </ul>
                </div>
				<div class="advertisement">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- 小方块 -->
					<ins class="adsbygoogle"
						 style="display:inline-block;width:200px;height:200px"
						 data-ad-client="ca-pub-5351470261193904"
						 data-ad-slot="4579468674"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
				<div class="advertisement">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- 链接广告 -->
					<ins class="adsbygoogle"
						 style="display:inline-block;width:200px;height:90px"
						 data-ad-client="ca-pub-5351470261193904"
						 data-ad-slot="4300267070"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div>
            </div>
        </div>
    </div>
</div>