<div class="container">
    <div class="header">
        <h1 class="title">小柴火的博客</h1>
        <p class="description">活在这草泥马的年代，就要时刻保持去他妹的心态</p>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <div class="post">
                    {{ content }}
                </div>
            </div>
            <div class="span3 offset1">
                <div class="about">
                    <h4>关于我</h4>
                    <p>
                        职业：<em>hadoop研发工程师</em><br />邮箱：<em>xiaoxin11347@gmail.com</em>
                    </p>
                </div>
                <div class="classify">
                    <h4>文章分类</h4>
                    <ul class="list-unstyled">
                        {% for category in site.categories %}
                            <li><a href="/categories/{{ category | first }}/">{{ category | first }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>