<div class="container">
    <div class="header">
        <h1 class="title">King's Blog</h1>
        <p class="description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;云中的记忆。。。</p>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <div class="post">
                    {{ content }}
                </div>
            </div>
            <div class="span3 offset1">
                <div class="about">
                    <h4>关于我</h4>
                    <p>
                        职业：<em>hadoop研发工程师</em><br />邮箱：<em>xiaoxin11347@gmail.com</em>
                    </p>
                </div>
                <div class="classify">
                    <h4>文章分类</h4>
                    <ul class="list-unstyled">
                        <li><a href="/categories/hadoop.html">Hadoop云计算</a></li>
                        <li><a href="/categories/nosql.html">NoSQL技术</a></li>
                        <li><a href="/categories/java.html">Java语言</a></li>
                        <li><a href="/categories/machine_learning.html">机器学习算法</a></li>
                        <li><a href="/categories/mq.html">消息队列</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>