<!DOCTYPE html>
<html>
{% include header.html %}
<body>
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="nav-collapse collapse">
					<ul class="nav nav-pills">
						<li class="active"><a href="/">首页</a></li>
						<li><a href="/categories/">文章列表</a></li>
					</ul>
					<form class="navbar-form pull-right" accept-charset="utf-8" method="get" action="http://google.com/search">
						<input class="span3" placeholder="关键字..." type="text" results="0" name="q" />
						<input type="hidden" value="site:sep10.com" name="q" />
						<button type="submit" class="btn">搜索</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% include container.html %}
	{% include footer.html %}
</body>
</html>